carousel{
flex-wrap: width 30px height 50px;
}
body{
     background-color: azure;

}
nav{
     background-color: aliceblue;
}
.sidebar{
     width: 200px;
     height: 1000px;
}
/* .maincontainer{
     display: flex;
     margin-left: auto;
} */


/* --#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
--#{$prefix}nav-pills-link-active-color: #{$nav-pills-link-active-color};
--#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg}; */